.signup{
    border: 2px solid rgb(160, 241, 160);
    padding: 10px 12px;
    width: 24rem;
    margin:  40px auto;
    border-radius: 10px;
    
}
.signup:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px 2px rgba(160, 241, 160);
    transition: 0.1s ease-in-out;
}
@media screen and (max-width: 400px){
    .signup{
        padding: 10px 12px;
        width: 16rem;
        margin:  6px auto;
    }
    .form-label{
        font-size: 16px;
    }
}